# --- Java ---
*.class
hs_err_pid*
replay_pid*

# Logs
*.log

# Archives / packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# BlueJ / J2ME
*.ctxt
.mtj.tmp/

# --- Maven / Build ---
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# NetBeans / Gradle builds
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- IDEs ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Misc
HELP.md
